<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Xcessible - Login / Register</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <!-- Google Fonts -->
  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/css/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/fonts.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/stars.css" rel="stylesheet">
  <link href="assets/css/login.css" rel="stylesheet">



  
</head>

<body style="overflow: hidden;">
  <header id="header" style="overflow: hidden;">
    <div class="d-flex flex-column" style="height: 100%;margin-top: 50%;">
      <nav class="nav-menu" style="height: 100%;margin-left: -15px;">
      </nav>
    </div>
  </header>

  <main id="main">
    <section id="first_section" class="skills" style="background: linear-gradient(0deg, rgba(16,22,31,0.2) 0%, rgba(255,255,255,1) 100%);">
      <div class="container">
        <div class="section-title">
          <h2>LOGIN SECTION</h2>
          <p style="font-weight: 100;font-size: 1.2rem;line-height: 2.3rem;letter-spacing: .05rem;">
            Welcome back! Log in to your account to view job opportunities based on your profile.
          </p>
        </div>
        
        <div class="row skills-content">
          <form action="" method="POST" class="log-in" autocomplete="off"> 
            <input type="text" name="type" id="type" hidden value="login">
            <div class="floating-label">
              <input placeholder="Email" type="email" name="username" id="username" autocomplete="off">
              <label for="username">Email:</label>
              <div class="icon">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <style type="text/css">
                    .st0{fill:none;}
                  </style>
                  <g transform="translate(0 -952.36)">
                    <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
                  </g>
                  <rect class="st0" width="100" height="100"/>
                </svg>      
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Password" type="password" name="password" id="password" autocomplete="off">
              <label for="password">Password:</label>
              <div class="icon">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <style type="text/css">
                    .st0{fill:none;}
                    .st1{fill:#010101;}
                  </style>
                      <rect class="st0" width="24" height="24"/>
                      <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
                      <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
                      <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
                  </svg>
              </div>
              
            </div>
            <button type="submit">LOG IN</button>
          </form>
        </div>
      </div>
    </section>
    
    <section id="second_section" class="portfolio " style="background: linear-gradient(0deg, rgba(16,22,31,0.4) 0%, rgba(16,22,31,0.2) 100%);">
      <div class="container">
        <div class="section-title">
          <h2>REGISTERATION SECTION</h2>
          <p style="font-weight: 100;font-size: 1.2rem;line-height: 2.3rem;letter-spacing: .05rem;">
            Welcome! Sign up to view job opportunities based on your profile.
          </p>
        </div>
        
        <div class="row skills-content">
          <form action="" method="POST" class="log-in" autocomplete="off"> 
            <input type="text" name="type" id="type" hidden value="registeration">
            <div class="floating-label">
              <input placeholder="Name" type="text" name="name" id="name" autocomplete="off" minlength=4 required>
              <label for="name">Name:</label>
              <div class="icon">
                <?xml version="1.0" encoding="UTF-8"?>
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   enable-background="new 0 0 24 24"
   version="1.1"
   viewBox="0 0 24 24"
   xml:space="preserve"
   id="svg12"
   sodipodi:docname="1 (1).svg"
   inkscape:version="1.1 (c68e22c387, 2021-05-23)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
   id="defs16"><linearGradient
     id="linearGradient3093"
     inkscape:swatch="solid"><stop
       style="stop-color:#ff0000;stop-opacity:0;"
       offset="0"
       id="stop3091" /></linearGradient><linearGradient
     id="linearGradient3087"
     inkscape:swatch="solid"><stop
       style="stop-color:#000000;stop-opacity:1;"
       offset="0"
       id="stop3085" /></linearGradient><linearGradient
     id="linearGradient1660"
     inkscape:swatch="solid"><stop
       style="stop-color:#000000;stop-opacity:1;"
       offset="0"
       id="stop1658" /></linearGradient><marker
     style="overflow:visible"
     id="Arrow1Lstart"
     refX="0.0"
     refY="0.0"
     orient="auto"
     inkscape:stockid="Arrow1Lstart"
     inkscape:isstock="true"><path
       transform="scale(0.8) translate(12.5,0)"
       style="fill-rule:evenodd;fill:context-stroke;stroke:context-stroke;stroke-width:1.0pt"
       d="M 0.0,0.0 L 5.0,-5.0 L -12.5,0.0 L 5.0,5.0 L 0.0,0.0 z "
       id="path1368" /></marker><linearGradient
     inkscape:collect="always"
     xlink:href="#linearGradient1660"
     id="linearGradient1662"
     x1="-6.2201835"
     y1="10.637614"
     x2="2.2844037"
     y2="10.637614"
     gradientUnits="userSpaceOnUse"
     gradientTransform="translate(13.96789,-1.0321088)" /></defs><sodipodi:namedview
   id="namedview14"
   pagecolor="#ffffff"
   bordercolor="#999999"
   borderopacity="1"
   inkscape:pageshadow="0"
   inkscape:pageopacity="0"
   inkscape:pagecheckerboard="0"
   showgrid="false"
   showguides="true"
   inkscape:guide-bbox="true"
   inkscape:zoom="36.333333"
   inkscape:cx="8.6009174"
   inkscape:cy="12.922018"
   inkscape:window-width="1920"
   inkscape:window-height="1057"
   inkscape:window-x="-8"
   inkscape:window-y="-8"
   inkscape:window-maximized="1"
   inkscape:current-layer="svg12"><sodipodi:guide
     position="-2.2293578,25.266055"
     orientation="0,-1"
     id="guide2885" /></sodipodi:namedview>
                  <style
   type="text/css"
   id="style2">
                    .st0{fill:none;}
                    .st1{fill:#010101;}
                  </style>
                      <rect
   class="st0"
   width="24"
   height="24"
   id="rect4"
   x="0"
   y="2.323395" />
                      
                      
                      
                  <path
   id="path1366"
   style="font-variation-settings:normal;opacity:1;vector-effect:none;fill:#000000;fill-opacity:0;fill-rule:evenodd;stroke:url(#linearGradient1662);stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;-inkscape-stroke:none;stop-color:#000000;stop-opacity:1"
   d="M 12 5.3535156 A 4.2522936 4.2522936 0 0 0 7.7480469 9.6054688 A 4.2522936 4.2522936 0 0 0 8.9335938 12.537109 A 7 7.2522936 0 0 0 5 19.041016 A 7 7.2522936 0 0 0 5 19.046875 L 19 19.046875 A 7 7.2522936 0 0 0 19 19.044922 A 7 7.2522936 0 0 0 19 19.042969 A 7 7.2522936 0 0 0 19 19.041016 A 7 7.2522936 0 0 0 15.066406 12.537109 A 4.2522936 4.2522936 0 0 0 16.251953 9.6054688 A 4.2522936 4.2522936 0 0 0 12 5.3535156 z " /><path
   style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;opacity:0"
   d="m 8.146789,11.614679 1.5963303,1.816514 2.6697247,0.66055 2.229358,-0.825688 1.045871,-2.009174"
   id="path3144" /></svg>    
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Email" type="email" name="username" id="username" autocomplete="off" required>
              <label for="username">Email:</label>
              <div class="icon">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg enable-background="new 0 0 100 100" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <style type="text/css">
                    .st0{fill:none;}
                  </style>
                  <g transform="translate(0 -952.36)">
                    <path d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"/>
                  </g>
                  <rect class="st0" width="100" height="100"/>
                </svg>      
              </div>
            </div>
            <div class="floating-label">
              <input placeholder="Password" type="password" name="password" id="password" autocomplete="off" minlength=6 required>
              <label for="password">Password:</label>
              <div class="icon">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                  <style type="text/css">
                    .st0{fill:none;}
                    .st1{fill:#010101;}
                  </style>
                      <rect class="st0" width="24" height="24"/>
                      <path class="st1" d="M19,21H5V9h14V21z M6,20h12V10H6V20z"/>
                      <path class="st1" d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"/>
                      <path class="st1" d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"/>
                  </svg>
              </div>
              
            </div>
            <button type="submit">SIGN UP</button>
          </form>
        </div>
      </div>
    
    </section>
    

    
  </main>
  
  <i id="sound-button" style="z-index: 9999999;position: fixed;cursor: pointer;left: 20px;bottom: 20px;color: white;mix-blend-mode: difference;font-size: 35px;" class="icofont-mic-mute"></i>
  <div class="back-to-top" style="display: none;width: 200px;" id="back-to-top">
    <a href="#" style="vertical-align: middle;margin-top: 4px;color: inherit;display: inline-block;">REGISTER INSTEAD</a>
  </div>
  <div style="z-index: 9999999; cursor: pointer; left: unset; right: 25px; top: 25px; mix-blend-mode: difference; margin-left: 100px;" class="back-to-top">
    <a href="/" style="vertical-align: middle; margin-top: 4px; color: inherit; display: inline-block; opacity: 1;">HOME</a>
  </div>
  <div style="z-index: 9999999;cursor: pointer;left: -9px;position: fixed;top: 25px;margin-left: 100px;" class="">
    <a href="/" style="vertical-align: middle; margin-top: 4px; display: inline-block; opacity: 1;">
      <img src="assets/img/bruh.png" style="width: 122px;z-index: 93123323;">
    </a>
  </div>
  
  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/owl.carousel/js/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/artyom.window.min.js"></script>
  <script src="assets/js/voice_commands.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/login.js"></script>

</body>

</html>