<% if(username && password) { %>
  <div>
    <a href="/logout"><button type="submit" class="btn btn-success pull-right">Logout</button></a>
    <a href="/create"><button type="submit" class="btn btn-primary pull-right">Create</button></a>             
    <a href="/profile"><button type="submit" class="btn btn-primary pull-right">Profile</button></a>
    <span class="welcome pull-right">Hi, <%=username %></span>

  </div><!--/.navbar-collapse -->
<% } else { %>
  <div>
    <a href="/login"><button type="submit" class="btn btn-primary pull-right">Login</button></a>
    <a href="/signup"><button type="submit" class="btn btn-success pull-right">Logout</button></a>
  </div><!--/.navbar-collapse -->
<% } %>